@model IEnumerable<WebApplication1.Models.Reports>

@{
    ViewData["Title"] = "Index";
}

<h2>Отчёты</h2>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#mine" aria-controls="home" role="tab" data-toggle="tab">Параметры отчёта</a></li>
        <li role="presentation"><a href="#report1" aria-controls="report1" role="tab" data-toggle="tab">Отчёт №1</a></li>
        <li role="presentation"><a href="#report2" aria-controls="report2" role="tab" data-toggle="tab">Отчёт №2</a></li>
        <li role="presentation"><a href="#controll" aria-controls="controll" role="tab" data-toggle="tab">Контроль</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="mine">1</div>
        <div role="tabpanel" class="tab-pane" id="report1">2</div>
        <div role="tabpanel" class="tab-pane" id="report2">3</div>
        <div role="tabpanel" class="tab-pane" id="controll">4</div>
    </div>

</div>